body {
  margin: 0px;
  background-color: #fffa00;
  overflow: hidden;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
button {
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px -20px 10px -20px rgba(0,0,0,0.75), 2px 3px 20px 0px rgba(0,0,0,0.75);
}
button.active {
  -webkit-box-shadow: inset 0px 5px 20px -5px rgba(0,0,0,0.75), 2px 3px 20px 0px rgba(0,0,0,0.75) 
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hidden {
  opacity: 0;
}
nav {
  position: absolute;
  text-align: center;
}
nav ul {
  list-style-type: none;
}
nav li {
  line-height: 36px;  
}
#controllers {
  height: 312px;
  width: 425px;
}
.controller {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 312px;
  width: 425px;
}
/* Communal Controller - JBG */
#communal-controller {
  background: url('controllers/communal-unactive.png');
}
#communal-button-1 {
  height: 34px;
  left: 179px;
  position: absolute;
  top: 51px;
  width: 34px;
}
#communal-button-5 {
  height: 34px;
  left: 229px;
  position: absolute;
  top: 113px;
  width: 34px;
}
#communal-button-6 {
  height: 34px;
  left: 93px;
  position: absolute;
  top: 154px;
  width: 34px;
}
#communal-button-1.active, #communal-button-5.active, #communal-button-6.active {
  background: url('controllers/communal-active-1-5-6.png') no-repeat;
}
#communal-button-2 {
  height: 22px;
  left: 256px;
  position: absolute;
  top: 79px;
  width: 22px;
}
#communal-button-3 {
  height: 22px;
  left: 280px;
  position: absolute;
  top: 166px;
  width: 34px;
}
#communal-button-4 {
  height: 22px;
  left: 177px;
  position: absolute;
  top: 132px;
  width: 22px;
}
#communal-button-8 {
  height: 22px;
  left: 119px;
  position: absolute;
  top: 94px;
  width: 22px;
}
#communal-button-2.active, #communal-button-3.active, #communal-button-4.active, #communal-button-8.active {
  background: url('controllers/communal-active-2-3-4-8.png') no-repeat;
}
#communal-button-7 {
  height: 67px;
  left: 162px;
  position: absolute;
  top: 186px;
  width: 66px;
}
#communal-button-7.active {
  background: url('controllers/communal-active-7.png') no-repeat;
}
/* Hobo Controller - JBG */
#hobo-controller {
  background: url('controllers/hobo-unactive.png');
}
#hobo-button-1 {
  height: 174px;
  left: 28px;
  position: absolute;
  top: 69px;
  width: 174px;
}
#hobo-button-2 {
  height: 174px;
  left: 226px;
  position: absolute;
  top: 69px;
  width: 174px;
}
#hobo-controller .button.active {
  background: url('controllers/hobo-active-1.png');
}
/* Convenience Controller */
#convenience-controller {
  background: url('controllers/convenience-unactive.png');
}
#convenience-button-1 {
  height: 97px;
  left: 124px;
  position: absolute;
  top: 106px;
  width: 46px;
}
#convenience-button-2 {
  height: 97px;
  left: 190px;
  position: absolute;
  top: 106px;
  width: 46px;
}
#convenience-button-3 {
  height: 97px;
  left: 258px;
  position: absolute;
  top: 106px;
  width: 46px;
}
#convenience-controller .button.active {
  background: url('controllers/convenience-active-1-3.png') no-repeat;
}
/* Hermit Controller */
#hermit-controller {
  background: url('controllers/hermit-unactive.png');
}
#hermit-button-1 {
  height: 48px;
  left: 110px;
  position: absolute;
  top: 128px;
  width: 48px;
}
#hermit-button-2 {
  height: 48px;
  left: 181px;
  position: absolute;
  top: 128px;
  width: 48px;
}
#hermit-button-3 {
  height: 48px;
  left: 251px;
  position: absolute;
  top: 128px;
  width: 48px;
}
#hermit-controller .button.active {
  background: url('controllers/hermit-active-1-2.png') no-repeat;
}
/* Close button */
#x {
  background: url('controllers/x.png');
  height: 41px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 41px;
}
